<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Hemocentro BD</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="coletas">
                <span class="bi bi-activity" aria-hidden="true"></span> Coletas
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="doacoes">
                <span class="bi bi-bag-heart-fill" aria-hidden="true"></span> Doações
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="doadores">
                <span class="bi bi-people" aria-hidden="true"></span> Doadores
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="enderecos">
                <span class="bi bi-geo-alt" aria-hidden="true"></span> Endereços
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="estoques">
                <span class="bi bi-box-seam" aria-hidden="true"></span> Estoques
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="funcionarios">
                <span class="bi bi-person-lines-fill" aria-hidden="true"></span> Funcionarios
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="hemocentros">
                <span class="bi bi-droplet-fill" aria-hidden="true"></span> Hemocentros
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="receptores">
                <span class="bi bi-people" aria-hidden="true"></span> Receptores
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tipossanguineos">
                <span class="bi bi-droplet" aria-hidden="true"></span> Tipos Sanguineos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="transfusoes">
                <span class="bi bi-heart" aria-hidden="true"></span> Tranfusões
            </NavLink>
        </div>
    </nav>
</div>

